<h1>Comic Arcive</h1>

<% @stocks.each do |stock| %>
  <div class="item">
    <h2><%= link_to stock.name, nook_product_path(stock) %></h2>
    
    <% if session[:cart].include?(stock.id)%>
      <%= link_to 'remove', remove_item_path(stock.id)%>
    <% else%>
      <%= link_to 'add', add_item_path(stock.id)%>
    <% end%>
    
    <p>$<%= stock.price %>, <%= stock.condition%></p>
    <img scr="<%= stock.imagepath %>" alt ="No Image" height="100" width="100">
    <p><%= stock.description %></p>
  </div>
<% end %>