<h2>Search Results</h2>

<% @stocks.each do |stock| %>
  <div class="item">
    <h2><%= link_to stock.name, nook_product_path(stock) %></h2>
    <p>$<%= stock.price %>, <%= stock.condition%></p>
    <%= image_tag("#(stock.imagepath)", :alt => "No Image", :size => "100x100")%>
    <p><%= stock.description %></p>
  </div>
<% end %>

<p><%= link_to 'Search', search_path %></p>