<div class="stock">
  <h1><%= @stock.name %></h1>
  <p><%= @stock.description %></p>
  <%= image_tag("#(stock.imagepath)", :alt => "No Image", :size => "100x100")%>
  <p>$<%= @stock.price %>, <%= @stock.condition%></p>
</div>

<p><%= link_to 'Home', root_path %></p>
